* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

hr {
    margin-top: 9pt;
    color: rgba(151, 151, 151, 1);
    border-color: rgba(151, 151, 151, 1);
    height: 0.5pt;
    border: 0;
    border-top: 1px solid;
}

body {
    min-width: 375pt;
    height: 1010pt;
    width: 100%;
}

header {
    height: 8%;
}
.wrapper__body{
    margin: 0 auto;
    height: 100vh;
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}

.text__header {
    text-align: center;
    height: 100%;
    color: rgba(243, 92, 102, 1);
    border-bottom: solid 0.5pt lightgrey;
    margin-top: 20pt;
}
.text__header span {
    font-size: 5vh;
    height:100%;
}

.content {
    margin: 0 30pt;
}

.content * {
    font-size: 14pt;
}

.content div {
    margin: 0 auto;
}

output, output+span{
    display: inline;
    font-size: 14pt;
    color: lightgrey;
}

.content .feeling {
    margin-top: 57.5px;
    align-content: center;
}

.feeling .question {
    display: inline;
}
.feeling .imgmood{
    display: inline;
    width: 50pt;
    height: 50pt;
    margin-left: 100px;
    margin-top: -24px;
    background-image: url(../res/img/happy.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

.content .where,.when {
    margin-top: 45px;
}

.content .where button,.content .when button {
    margin-top: 20pt;
}

.content .when {
    margin-top: 30px;
}
.when .btnbelow{
    margin-top:24px !important;
}
.quality button {
    color: rgba(243, 92, 102, 1);
    font-size:30pt;
    margin-bottom: 10pt;
}
.spend,.howfar,.quality{
    margin-top: 20pt!important;
}
button {
    width: 147pt;
    height: 47pt;
    color: rgba(93, 72, 75, 1);
    background-color: rgba(214, 208, 210, 1);
    border: 0;
    border-radius: 8pt;
}

button:hover {
    color: white;
    background-color: rgba(243, 92, 102, 1);
}

footer{
    height: 50pt;
    background-color: rgba(243, 92, 102, 1);
    margin-top: 20pt;
    cursor: pointer;
}
footer .okbutton{
    width: 50pt;
    vertical-align: middle;
    font-size: 25pt;
    display: inline-block;
    margin-top: 8pt;
    margin-left: 150pt;
    color: white;
    
}

footer .arrow{
    width: 40pt;
    display: inline-block;
    font-size: 35pt;
    vertical-align: middle;
    margin-top: 8pt;
    color: white;
    
}


/*RANGE INPUT PERSONALIZATION*/
input[type=range] {
    -webkit-appearance: none;
    margin:30px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgba(214, 208, 210, 1);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 3px 5px #888;
    border: 0 solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: rgba(243, 92, 102, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(214, 208, 210, 1);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    background: rgba(214, 208, 210, 1);
    border-radius: 25px;
    border: 0 solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: rgba(243, 92, 102, 1);
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(214, 208, 210, 1);
    border: 0 solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: rgba(214, 208, 210, 1);
    border: 0 solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: rgba(243, 92, 102, 1);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(214, 208, 210, 1);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(214, 208, 210, 1);
}

body {
    width: 100%;
    height: 100%;
}

